<!doctype html>
<html ng-app="materializeApp">
<head>
    <title>The Portfolio of Eric Barber</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Eric Barber, erikxcore,f0xxx,f0xx, portfolio, designer, web designer, graphic designer, web developer, front-end developer, new jersey, new york, pennslyvania, angular, node, javascript, jquery, html, css, java, php">
    <meta name="description" content="I am a front-end engineer with experience with full stack environments. My languages of choice are JavaScript, PHP, and Java.">
    <meta name="author" content="Eric Barber">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="assets/css/materialize.min.css">
    <link rel="stylesheet" href="assets/css/ngDialog.min.css">
    <link rel="stylesheet" href="assets/css/angular-timeline.css">
    <link rel="stylesheet" href="assets/css/angular-timeline-animations.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link href="assets/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="assets/css/print.css" media="print" rel="stylesheet" type="text/css" />


    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Podkova|Raleway:400,200italic|Ubuntu:400,400italic,500,700|Droid+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Above simply for testing, final will most likely consist of only Podkova and possibly Ubuntu/Arial/Helvetica/Futura. Probably imports in the scss files. -->

    <script type="text/javascript">
        //Due to 0.1.8 Angular-Materialize using console.log and IE support
        if (!window.console) {window.console = {};}
        if (!console.log) {console.log = function() {};}
    </script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

    <script type="text/javascript" src="http://66.150.214.52:2368/shared/ghost-url.js"></script>
    <script type="text/javascript">ghost.init({clientId: "ghost-frontend",clientSecret: "95b1e5440cab"});</script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.11/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/js/ngDialog.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <script src="assets/js/angular-timeline.js"></script>
    <script src="assets/js/angular-recaptcha.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.1.8/angular-materialize.js"></script>
    <script src="http://www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>
     
     <!--[if IE]>
          <link href="assets/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
     <![endif]-->


    <script type="text/javascript" src="app.js"></script>
    <script src="directives/mixItUpDirective.js"></script>
    <script src="directives/galleryDirective.js"></script>
    <script src="directives/closeDialogDirective.js"></script>
    <script src="controllers/mainController.js"></script>
    <script src="controllers/aboutController.js"></script>
    <script src="controllers/resumeController.js"></script>
    <script src="controllers/workController.js"></script>
    <script src="controllers/homeController.js"></script>
    <script src="controllers/blogController.js"></script>
    <script src="controllers/contactController.js"></script>
    <script src="services/contactService.js"></script>
    <script src="services/blogService.js"></script>
    <script src="routes.js"></script>
</head>

<body ng-controller="mainController">
<header>
  <div class="menu-toggle" ng-class="{'on': toggleMenu}" ng-click="toggleMenu = !toggleMenu">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
  </div>
  <div class="menu-section" ng-class="{'on': toggleMenu}" >
    <nav>
        <ul role="navigation" ng-class="{'hidden': !toggleMenu}">
                    <li><a href="#home" ng-click="toggleMenu = !toggleMenu">Home</a></li>
                    <li><a href="#about" ng-click="toggleMenu = !toggleMenu">About</a></li>
                    <li><a href="#work" ng-click="toggleMenu = !toggleMenu">Work</a></li>
                    <li><a href="#resume" ng-click="toggleMenu = !toggleMenu">Resume</a></li>
                    <li><a href="#blog" ng-click="toggleMenu = !toggleMenu" >Blog</a></li>
                    <li><a href="" onclick="return false;" ng-click="openContact()">Contact</a></li>
        </ul>
      </nav>
  </div>
</header>

<div class="scroll-trigger" scroll-fire="toggleMouse()" offset="1000">
<!--style="position: absolute;
    top: 500px;
    height: 10px;
    width: 10px;
    z-index: 1000;
    background: black;"--></div>

<div class="mouse-scroll-container" ng-show="pageClass != 'page-home'">
      <span class="mouse">
        <span class="mouse-movement"> 
        </span>
      </span>
</div>



<div id="main" >
    <div class="background" style="border-top:10px solid white;border-left:10px solid white;border-right:10px solid white;">
          <img src="assets/img/sky.png" alt=" " />
          <img src="assets/img/third_tier.png" alt=" " />
          <img src="assets/img/second_tier.png" alt=" " />
          <img src="assets/img/first_tier.png" alt=" " />
          <img src="assets/img/horizon.png" alt=" " />
          <img class="boat" src="assets/img/boat.png" alt=" " />
    </div>
    <div ui-view class="page {{ pageClass }}"></div>
</div>



</body>


</html>
