<!doctype html>
<html ng-app="materializeApp">
<head>
    <title>The Portfolio of Eric Barber</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Eric Barber, erikxcore, f0xxxxx, f0xx, portfolio, designer, web designer, graphic designer, web developer, front-end developer, new jersey, new york, pennslyvania, angular, node, javascript, jquery, html, css, java, php, full stack, remote, ui, ux, user experience, user interface, git, programmer, back end developer">
    <meta name="description" content="I am a front-end engineer with experience with full stack environments. My languages of choice are JavaScript, PHP, and Java.">
    <meta name="author" content="Eric Barber">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="assets/css/materialize.min.css">
    <link rel="stylesheet" href="assets/css/ngDialog.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link href="assets/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="assets/css/print.css" media="print" rel="stylesheet" type="text/css" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Podkova|Raleway:400,200italic|Ubuntu:400,400italic,500,700|Droid+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Above simply for testing, final will most likely consist of only Podkova and possibly Ubuntu/Arial/Helvetica/Futura. Probably imports in the scss files. -->

    <script type="text/javascript">
        //Due to 0.1.8 Angular-Materialize using console.log and IE support
        if (!window.console) {window.console = {};}
        if (!console.log) {console.log = function() {};}
        //Catch any JS global errors and display error page due to unsupported browser
        window.onerror = function(error, url, line) {
                document.getElementById("main").style.display = "none";
                document.getElementsByClassName('mouse-scroll-container')[0].style.display="none";
                document.getElementsByClassName('error-page')[0].style.display="block";
                document.getElementsByClassName('loading-page')[0].style.display="none";
        };
    </script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="assets/js/lodash.js"></script>

    <script type="text/javascript" src="http://66.150.214.52:2368/shared/ghost-url.js"></script>
    <script type="text/javascript">ghost.init({clientId: "ghost-frontend",clientSecret: "95b1e5440cab"});</script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.11/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/js/ngDialog.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="assets/js/angular-parallax.js"></script>
    <script src="assets/js/angular-recaptcha.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.1.8/angular-materialize.js"></script>
    <script src="http://www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" defer></script>

    <script src="assets/js/angular-simple-logger.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCE5-7NSqY4p5lecnY5DQWRotAzvhYVXS4" defer></script>
    <script src="assets/js/angular-google-maps.min.js"></script>

     <!--[if IE]>
          <link href="assets/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
     <![endif]-->
    <!--[if lte IE 9]>
          <link href="assets/css/ie-8-and-down.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <script type="text/javascript" src="app.js"></script>
    <script src="directives/mixItUpDirective.js"></script>
    <script src="directives/galleryDirective.js"></script>
    <script src="directives/closeDialogDirective.js"></script>
    <script src="directives/preloaderFactory.js"></script>
    <script src="controllers/mainController.js"></script>
    <script src="controllers/aboutController.js"></script>
    <script src="controllers/resumeController.js"></script>
    <script src="controllers/workController.js"></script>
    <script src="controllers/homeController.js"></script>
    <script src="controllers/blogController.js"></script>
    <script src="controllers/contactController.js"></script>
    <script src="services/contactService.js"></script>
    <script src="services/blogService.js"></script>
    <script src="routes.js"></script>
</head>

<body ng-controller="mainController">

<!--[if gt IE 7)]><!--> <noscript> <!--<![endif]-->
    <style>
        #main,header,.mouse-scroll-container,.scroll-trigger,.loading-page {display:none;}
        .error-page{display:block;}
    </style>
<!--[if gt IE 7)]><!--> </noscript> <!--<![endif]-->

<div class="row loading-page fade" ng-show="isLoading">
    <div class="container">
        <div class="col s12">
            <div class="loader"></div>            
            <p>{{ percentLoaded }}</p>
        </div>
    </div>
</div>

<div class="row error-page">
    <div class="container">
        <div class="col s12">
            <div class="no-js-info">
                <h2>Uh oh!</h2>
                <h6>This site requires JavaScript and modern browsers for a full experience.</h6>
                <p>Find me elsewhere on the web:<br/>
                        <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-tumblr" aria-hidden="true"></i></a>
                </p>
                <p class="smaller">Or contact me <a href="mailto:ericbarbernj@gmail.com">directly.</a></p>
            </div>
        </div>
    </div>
</div>

<div class="loadHide fade" ng-show="!isLoading">

<header>
  <div class="menu-toggle" ng-class="{'on': toggleMenu}" ng-click="toggleMenu = !toggleMenu">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
  </div>
  <div class="menu-section" ng-class="{'on': toggleMenu}" >
    <nav>
        <ul role="navigation" ng-class="{'hidden': !toggleMenu}">
            <!--
                    <li><a href="#home" ng-click="toggleMenu = !toggleMenu">Home</a></li>
                    <li><a href="#about" ng-click="toggleMenu = !toggleMenu">About</a></li>
                    <li><a href="#work" ng-click="toggleMenu = !toggleMenu">Work</a></li>
                    <li><a href="#resume" ng-click="toggleMenu = !toggleMenu">Resume</a></li>
                    <li><a href="#blog" ng-click="toggleMenu = !toggleMenu" >Blog</a></li>
            -->
                    <li><a href="" onclick="return false;" ng-click="openContact()">Contact</a></li>
        </ul>
      </nav>
  </div>
</header>






<div id="main" >
    <div class="logo animated" ng-class="!isLoading ? 'bounce' : '' ">
        <h2>Test</h2>
        <h2>Test</h2>
    </div>

    <div class="background">
        <div class="sky"></div>
        <img src="assets/img/new2/clouds.png" />
        <img parallax parallax-ratio="0.3" src="assets/img/new2/sun.png" />
        <div class="lake"></div>
        <img src="assets/img/new2/center_mountain.png"/>
        <img src="assets/img/new2/cr_mountain.png"/>
        <img parallax parallax-ratio="0.3" src="assets/img/new2/2l_mountain.png"/>
        <img parallax parallax-ratio="0.3" src="assets/img/new2/1l_mountain.png"/>
        <img parallax parallax-ratio="0.3" src="assets/img/new2/reflection.png"/>
        <img parallax parallax-ratio="0.3" src="assets/img/new2/2r_mountain.png"/>
        <img parallax parallax-ratio="0.4" src="assets/img/new2/1r_mountain.png"/>
        <img parallax parallax-ratio="0.5" src="assets/img/new2/birds.png"/>
        <img parallax parallax-ratio="-0.2" src="assets/img/new2/boat.png"/>
        <img parallax parallax-ratio="0.3" src="assets/img/new2/whale.png"/>
        <img src="assets/img/new2/woods.png"/>
        <img src="assets/img/new2/reflection.png">
        <img parallax parallax-ratio="0.3" src="assets/img/new2/reflection.png" >
        <img src="assets/img/new2/reflection.png">
        <div class="bubbles"></div>
        <div parallax parallax-ratio="-0.3" class="mouse-scroll-container fade" ng-show="pageClass != 'page-home'">
              <span class="mouse">
                <span class="mouse-movement"> 
                </span>
              </span>
        </div>

    </div>

    <div ui-view class="page {{ pageClass }}"></div>

</div>

</div>

</body>


</html>
