        <div class="row">

         <div class="col s12 m6">
            <div class="row">
                <div class="row profileCard">
                      <div class="box header">
                        <img src="assets/img/me_large.JPG" alt="" />
                        <h2>Eric Barber</h2>
                        <h4>I am a full stack web developer from New Jersey, USA.</h4>
                      </div>
                </div>
                <div class="row socialIcons">
                        <a href="https://github.com/erikxcore" target="new"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href="https://soundcloud.com/eric-barber-2" target="new"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
                        <a href="https://www.facebook.com/ericbarber" target="new"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        <a href="http://stackoverflow.com/users/1454773/eric" target="new"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/ericbarber" target="new"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/ericbeiber/" target="new" ><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/eric-barber-72413637" target="new"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        <a href="http://ericbarber.tumblr.com/" target="new"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
           
            <form autocomplete="off" method="post" name="form" role="form" ng-controller="contactForm" ng-submit="form.$valid && sendMessage(input)" validate>
                <div class="row">

                    <div class="row">
                        <div class="col s12">
                            <span class="input input--haruki">
                                <input class="input__field input__field--haruki validate" type="text" id="name" name="name" ng-model="input.name" required ng-disabled="submitted" />
                                <label class="input__label input__label--haruki" for="name">
                                    <span class="input__label-content input__label-content--haruki">Name</span>
                                </label>
                            </span>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">

                            <span class="input input--haruki">
                                <input class="input__field input__field--haruki validate"  type="email" id="email" name="email" ng-model="input.email" required ng-disabled="submitted"/>
                                <label class="input__label input__label--haruki" for="email">
                                    <span class="input__label-content input__label-content--haruki">Email</span>
                                </label>
                            </span>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">

                            <div input-field>
                                <textarea class="materialize-textarea validate" ng-disabled="submitted" id="messsage" name="message" ng-model="input.message" required />
                                <label for="message">Message</label>
                            </div>
                        

                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div vc-recaptcha theme="'light'" key="model.key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()" class="g-recaptcha fade" ng-hide="submitted"></div>
                        </div>
                        
                        <div class="col s12">
                            <button close-dialog="7" ng-hide="submitted" ng-disabled="!captcha" class="button fade" data-text="Send Message" name="submit" type="submit" value="submit"><span>S</span><span>e</span><span>n</span><span>d</send><span>&nbsp;</span><span>M</span><span>e</span><span>s</span><span>s</send><span>a</send><span>g</send><span>e</send>
                            </button>
                        </div>
                    </div>

                <div class="row">
                    <div class="col s12 messages">
                        <p class="success fade" ng-show="success">Thanks for getting in touch! This window will close soon.</p>
                        <p class="error fade" ng-show="error">Something wrong happened!, please try again later or reach me directly at eric@ericbarber.me. This window will now close.</p>
                    </div>
                </div>


                </div> 
            </form>
        </div>
