<div ng-controller="workController">

<div class="row r1">
	<div class="container">
		<div class="col s12">
			<p>First Row.</p>
		</div>
	</div>
</div>

<div class="row r2">
	<div class="container">
		<div class="col s12">

    <div class="mixitupcontainer">

	    <div class="controls">
	        <label>Filter:</label>
	        <div class="filter" data-filter="all">All</div>
	        <div class="filter" data-filter=".category-{{category}}" ng-repeat="category in categories">{{category}}</div>
	    </div>
	    
	    <div mix-it-up class="mix-container gallery fade" entities='work'>
	    	<div gallery class="gallery-container">
		    	<div class="gallery-row">
				        <div class="mix category-{{item.category}}" 
				                data-myorder="{{item.value}}" 
				                ng-repeat="item in work">
				                <figure class="effect">
				                <img src="assets/img/mountains.jpeg" style="height:320px;width:320px;" />
					                <figcaption>
					                	<h2>Some Text</h2>
					                	<p>Some other text.</p>
						                <a class="image" href="#" onclick="return false;" id="image_{{item.id}}">
						   					View <!--{{item.name}}-->
										</a>
									</figcaption>
								</figure>
				        </div>
			    </div>

			    <div class="zoom-row">
			    	<a href="#" onclick="return false;" class="gallery-close"></a>
			    	<div ng-repeat="item in work" id="image_{{item.id}}" class="port">
			    		<div class="gallery-row">
							<div class="description">
								<h2>Some title.</h2>
								<p>{{item.category}}</p>
							</div>
							<div class="image">
								<p>{{item.value}}</p>
							</div>
						</div>
			    	</div>
			    </div>
	    	</div>
		</div>

	</div>

		</div>
	</div>
</div>

<div class="row r3">
	<div class="container">
		<div class="col s12">
			<p>Third Row.</p>
		</div>
	</div>
</div>

